//kccg.garvan.org.au/nexus/repository/npm-group/:_authToken=96abb92a-92a7-331d-b085-df7190ab04e0
//kccg.garvan.org.au/nexus/repository/npm-registry/:_authToken=96abb92a-92a7-331d-b085-df7190ab04e0
registry=https://kccg.garvan.org.au/nexus/repository/npm-group/
