.App {
  text-align: center;
}

body {
  background-color: #fff !important;
}

.navbar-toggle {
  display: none;
}

select.placeholder {
  color: #999;
}

.pageArea {
  padding-bottom: 24px;
}

@media (max-width: 1200px) {
  .pageArea > div > div:nth-child(2) {
    width: 100%;
    border-left: none !important;
    margin: 0 !important;
    padding-right: 18px;
  }
}

@media (max-width: 1200px) {
  .pageArea > div > div:nth-child(1) {
    display: none !important;
  }
}